//background image

$home-bg-mobile: url("Frontend/src/assets/home/background-home-mobile.jpg");
$home-bg-tablet: url("Frontend/src/assets/home/background-home-tablet.jpg");
$home-bg-desktop: url("Frontend/src/assets/home/background-home-desktop.jpg");

$destination-bg-mobile: url("Frontend/src/assets/destination/background-destination-mobile.jpg");
$destination-bg-tablet: url("Frontend/src/assets/destination/background-destination-tablet.jpg");
$destination-bg-desktop: url("Frontend/src/assets/destination/background-destination-desktop.jpg");

$crew-bg-mobile: url("Frontend/src/assets/crew/background-crew-mobile.jpg");
$crew-bg-tablet: url("Frontend/src/assets/crew/background-crew-tablet.jpg");
$crew-bg-desktop: url("Frontend/src/assets/crew/background-crew-desktop.jpg");

$technology-bg-mobile: url("Frontend/src/assets/technology/background-technology-mobile.jpg");
$technology-bg-tablet: url("Frontend/src/assets/technology/background-technology-tablet.jpg");
$technology-bg-desktop: url("Frontend/src/assets/technology/background-technology-desktop.jpg");

//Colors

$color-primary: #d0d6f9;
$color-secondary: #fff;
$color-tertiary: #0b0d17;

//Fonts

$font-primary: "Bellefair";
$font-secondary: "Barlow";
$font-tertiary: "Barlow Condensed";
