nav {
  width: calc(100% - 2.4em);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 1.2em;
  z-index: 1;

  #logo {
    height: 2.5em;
    width: 2.5em;
  }

  #menu {
    button {
      border: none;
      background: transparent;
    }

    &--open--close--button {
      position: fixed;
      top: 28px;
      right: 22px;
    }

    &--open--content {
      display: grid;
      align-content: center;
      gap: 32px;
      height: 50%;
      margin-top: 12px;
      width: 100%;

      .menu--open--content--title {
        display: flex;
        height: fit-content;
        margin-left: 32px;
        font-weight: 100;

        &.active {
          &::after {
            content: " ";
            background-color: white;
            position: absolute;
            right: 0;
          }
        }

        strong {
          margin-right: 10px;
        }
      }
    }

    .menu--open {
      height: 100vh;
      width: 65vw;
      position: fixed;
      top: 0;
      right: 0;
      background-color: transparent;
      backdrop-filter: blur(40px);
      transition: all 0.5s ease-in;
      transform: translateX(100%);
    }
    .menu--visible {
      display: flex;
      transform: translateX(0);
      transition: all 0.5s ease-in;
    }
  }
}
