#Technology {
  background-image: $technology-bg-mobile;
  background-repeat: no-repeat;
  background-size: cover;

  height: calc(100vh - 5em);
  width: 100%;
  padding-top: 5em;

  display: flex;
  flex-direction: column;
  text-align: center;

  &--title {
    display: flex;
    margin: 0 auto;
    font-family: $font-tertiary;
    letter-spacing: 2.7px;
    span {
      margin-right: 1em;
      font-family: $font-tertiary;
      opacity: 0.25;
    }
  }

  &--content {
    img {
      height: 170px;
      width: 100%;
      margin: 2em 0;
    }

    h1 {
      margin-bottom: 1rem;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 24px;
    }

    &--menu {
      display: flex;
      justify-content: center;
      gap: 1em;
      width: 100%;
      margin: auto;

      button {
        height: 40px;
        width: 40px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 50%;
      }
    }

    &--terminology {
      font-size: 14px;
      color: $color-primary;
      font-family: $font-tertiary;
      letter-spacing: 2.36px;
      margin-top: 26px;
      margin-bottom: 9px;
    }

    &--description {
      width: 90%;
      margin: auto;
      font-size: 15px;
      font-family: $font-secondary;
      color: $color-primary;
      line-height: 25px;
    }
  }
  .Active {
    background-color: white;
    color: black;
  }
}

//Responsive Tablet

#Technology {
  @media screen and (min-width: 426px) {
    background-image: $technology-bg-tablet;
  }
}

//Responsive Desktop

#Technology {
  @media screen and (min-width: 769px) {
    background-image: $technology-bg-desktop;
  }
}
